<div class="credit-page-container">
    <h2 class="credit-title">本アプリケーションをご利用いただき、誠にありがとうございます</h2>

    <p class="credit-message">
        このアプリケーションは、ポートフォリオ作品です。<br>
        今後もユーザーに寄り添えるようなサービス作りを目指して、<br>
        日々学び、成長を続けていきたいと思います。
    </p>

    <p class="credit-message">
        尚、予告せず本サービスを終了する恐れがあります。
    </p>

    <p class="caution-message">
        本アプリケーションは無料サーバーを利用しており、<br>
        容量制限のためチャットの最終更新から6日（144時間）経過後に<br>
        自動的に削除される仕様になっております.
    </p>
</div>