<div class="container">
    <div class="credit-page-container">
        <h2 class="credit-title">
            本アプリケーションをご利用いただき、<br>
            誠にありがとうございます。
        </h2>

        <p class="credit-message">
            本アプリケーションはポートフォリオ作品として制作したものです。<br>
            今後も、ユーザー目線を意識し、<br>
            日々学びを重ね、成長してまいります。
        </p>

        <p class="credit-message">
            なお、本サービスは予告なく終了する場合がございます。あらかじめご了承ください。
        </p>

        <p class="caution-message">
            ※本アプリケーションは無料サーバーを利用しており、<br>
            容量の制限により、チャットはメッセージの最終更新から6日（144時間）経過すると<br>
            自動的に削除される仕様となっております。
        </p>
    </div>
</div>