<!--<h1>image_masking_css</h1>-->

<div class="container text-center my-5 position-relative image-container">
    <div class="image-background">
        <span class="line line-1 fw-bold">IMAGE</span>
        <div class="paint-mask"></div>
        <span class="line line-2 fw-bold">MASKING</span>
    </div>
</div>