<!--<h1>newton_light_effect</h1>-->

<div class="newton_light_effect">
  <div class="bulb"></div>
  <div class="bulb"></div>
  <div class="bulb"></div>
  <div class="bulb"></div>
  <div class="bulb"></div>
</div>