<!--<h1>newton_light_effect</h1>-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-18 text-center">
      <div class="newton_light_effect">
        <div class="swing-set swing-set-side">
          <svg class="string-svg">
            <path d="M1 0 Q 1 70 1 140">
          </svg>
          <div class="bulb" data-swing="left"></div>
        </div>
        <div class="swing-set">
          <div class="string"></div>
          <div class="bulb"></div>
        </div>
        <div class="swing-set">
          <div class="string"></div>
          <div class="bulb"></div>
        </div>
        <div class="swing-set">
          <div class="string"></div>
          <div class="bulb"></div>
        </div>
        <div class="swing-set">
          <div class="string"></div>
          <div class="bulb"></div>
        </div>
        <div class="swing-set swing-set-side">
          <svg class="string-svg">
            <path d="M1 0 Q 1 70 1 140">
          </svg>
          <div class="bulb" data-swing="right"></div>
        </div>
      </div>
    </div>
  </div>
</div>