// credits_scss
.credit-page-container {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.credit-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.credit-message {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  color: #555;
}

.caution-message {
  text-align: center;
  color: red;
  font-size: 0.9rem;
}

// index
.effect-icon-box {
  height: 70px;
  background-color: #fff;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.2s ease;
  cursor: pointer;

  text-decoration: none;
  color: inherit;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    text-decoration: none;
  }

  i {
    color: #333;
  }
}

// newton_light_bulb
.newton_light_effect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 300px;
  margin-top: -33px;
  max-width: 100%;
  position: hidden;

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 18.5%;
    height: 10px;
    background-color: #fff;
  }
}

@media (max-width: 767.98px) {
  .newton_light_effect {
    transform: scale(0.7);
    transform-origin: top center;
  }

  .string {
    height: 100px;
    margin: 0 10px;
  }

  .newton_light_effect::before {
    width: 72%;
    top: -7px;
  }
}

.bulb {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  margin: 0 2px;
  position: relative;
  transform-origin: top center;
}

.string {
  width: 2px;
  height: 140px;
  background-color: #333;
  margin: 0 30px;
}

.swing-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -11px;
  transform-origin: top center;
}

.swing-set-side {
  margin: 0 -2px;
  transform-origin: top center;
}

.string-svg path {
  stroke: #333;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.string-svg {
  overflow: visible;
  width: 2px;
  height: 140px;
}
