// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  @media (max-width: 768px) {
    overflow: auto;
  }
}

.home-page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  @media (max-width: 768px) {
    flex-direction: row;
  }
}

.home-page-container.no-scroll {
  @media (max-width: 768px) {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
  }
}

// side
.sidebar {
  width: 100%;
  max-width: 320px;
  min-width: 280px;
  background: #f5f5f5;
  padding: 1rem;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;

  @media (max-width: 768px) {
    height: auto;
    position: relative;
    z-index: 1000;
    max-width: 100%;
    min-width: unset;
  }
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.icon-menu ul {
  list-style: none;
  padding: 0;
}

.icon-button {
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.sidebar-content {
  flex-grow: 1;
}

.side-detail {
  width: 300px;
  background: #eee;
  padding: 2rem;
  height: 100vh;
  overflow-y: auto;
}

.coming-soon {
  text-align: center;
  padding: 2rem;
  color: #666;
  font-size: 1.2rem;
  h2 {
    font-size: 1.2rem;
    color: #999;
  }
  p {
    font-size: 1.2rem;
  }
}

.sidebar-header {
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;

  i {
    font-size: 1.5rem;
    color: #333;
  }
  .icon-button {
    color: inherit;
    text-decoration: none;
  }
}

.user-profile-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
  border-radius: 9999px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: #8fa3bc;
    color: #fff;
    text-decoration: none;
  }
}

.sidebar-footer {
  margin-top: auto;
  padding-top: 1rem;
  text-align: center;
}

.add-icon {
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.add-icon i:hover {
  transform: scale(1.1);
}

.sidebar-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (max-width: 768px) {
    padding-right: 1.5rem;
  }

  .sidebar-title {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .d-md-none {
    position: absolute;
    right: -15px;
    top: -5px;
  }
}

.sidebar-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.mobile-sidebar {
  @media (max-width: 768px) {
    position: fixed;
    top: 80px;
    left: 0;
    height: 100vh;
    width: 80%;
    max-width: 280px;
    background-color: #f5f5f5;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1050;

    &.show {
      transform: translateX(0);
    }
  }
}

.sidebar-toggle {
  position: absolute;
  top: 10px;
  right: -20px;
  background-color: #f5f5f5;
  border-radius: 0 5px 5px 0;
  z-index: 1100;

  .toggle-icon {
    transition: transform 0.3s ease;
  }
}

.fixed-sidebar-toggle {
  position: fixed;
  top: 80px;
  z-index: 1050;
  background: transparent;

  button {
    background: none;
  }
}

// main
.main-content {
  flex-grow: 1;
  width: 75%;
  padding: 2rem;
  height: 100vh;
  background-color: #ffffff;
  overflow-y: hidden !important;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    padding: 1rem;
  }
}